# ---- 敏感信息（绝不提交）----
.env
.env.*
!.env.example
*.pem
*.key

# ---- Python ----
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# ---- Node / 前端 ----
node_modules/
frontend/dist/
npm-debug.log*

# ---- 数据库 / 数据 ----
*.sqlite3
pgdata/
*.dump

# ---- IDE / 编辑器 ----
.idea/
.vscode/
*.swp

# ---- 操作系统 ----
.DS_Store
Thumbs.db

# ---- 日志 / 临时 ----
*.log
logs/
tmp/

# ---- 开发 / 调试脚本 ----
backend/scripts/_step*.py
backend/scripts/_*.pyc
